.container{
    position: relative;
    text-align: center;
    color: white;
    background-color: black;
}

h2 {
    text-align: center;
    justify-content: center;
}

p {
    text-align: center;
    justify-content: center;
}

.bottom-left{
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.bottom-right{
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.top-left{
    position: absolute;
    top: 8px;
    left: 16px;
}

.top-right{
    position: absolute;
    top: 8px;
    right: 16px;
}

.top-center {
    position: absolute;
    top: 8px;
    right: 700px;
    
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    font-size: 16em;
}

.centered .fire {
    color: #ffeb3b;
    text-shadow: 0 0 10px #ff8c3b, 
    0 0 40px #ff8c3b, 
    0 0 80px #ff8c3b, 
    0 0 160px #ff8c3b, 
    0 0 240px #ff8c3b;
    filter: url(#fire);
}

.centered .water {
    color: blue;
}

.centered .sparkle {
    color: fuchsia;
}

.centered .electric {
    color: yellow;
}

svg{
    width: 0;
    height: 0;
}

.centered .rain {
    color: lightblue;
    background-image: url('rainImg.png');
    filter: opacity(.3);
    animation: rainAnimation 0.17s linear infinite;
}

@keyframes rainAnimation {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 15% 100%;
    }
  }


/*
.centered p {
    color: #ffeb3b;
    text-shadow: 0 0 10px #ff8c3b, 
    0 0 40px #ff8c3b, 
    0 0 80px #ff8c3b, 
    0 0 160px #ff8c3b, 
    0 0 240px #ff8c3b;
}
*/

