.flex-container {
    display: flex;
}

.main {
    background-color: red;
    width: 800px;
    height:1000px;

}

.flex-container img{
    object-fit: fill;
}

.magic {
    background-color: black;
    color: red;
    font-size: 100px;
    width: 800px;
    height: 500px;
    text-align: center;
    
}